<nav
    class="sticky top-0 z-50 bg-white/95 dark:bg-zinc-950/95 backdrop-blur-lg border-b border-zinc-200 dark:border-zinc-800"
>
    <div class="max-w-7xl mx-auto px-6 py-5 flex justify-between items-center">
        <h1 class="text-2xl font-bold tracking-tighter">
            <a href="/">IGOR LIVSCHITZ</a>
        </h1>

        <div class="hidden md:flex items-center gap-x-8 text-sm font-medium">
            <a href="/" class="hover:text-violet-600 transition-colors"
                >Проекты</a
            >
            <a href="/works" class="hover:text-violet-600 transition-colors"
                >Все работы</a
            >
            <a href="/about" class="hover:text-violet-600 transition-colors"
                >Обо мне</a
            >
            <a href="/contact" class="hover:text-violet-600 transition-colors"
                >Контакты</a
            >
        </div>
    </div>
</nav>
